* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  background: linear-gradient(to right bottom, rgba(195, 99, 251, 0.6), rgba(255, 0, 0, 0.5));
  background-attachment: fixed;
}

p {
  font-size: 20px;
}

.container {
  margin-top: 33%;
}

.calculator {
  justify-content: center;
  border-radius: 5px;
  display: grid;
}

.buttons,
.numbers {
  display: grid;
  grid-auto-flow: column;
}

.window {
  display: grid;
  text-align: right;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  border: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
}

.numbers,
.operations,
.equals {
  padding: 5px;
}

.numbers {
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.operations {
  display: grid;
  grid-auto-flow: row;
}

.grid-item {
  width: 40px;
  font-size: 20px;
}

.grid-equals {
  display: block;
  width: 100%;
  font-size: 20px;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 0px;
  border-radius: 4px;
  margin: 2px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.previous-operand {
  font-size: 10px;
}

/* .current-operand {} */